@using Test.Models;
@model Test.Models.Card
@{
    List<Card> cards = ViewBag.cards;
}

<table class="table">
    <thread>
        <tr>
            <th>名稱</th>
            <th>年齡</th>
            <th>備註</th>
        </tr>
    </thread>
    <tbody>
        @foreach (Card card in cards)
        {
            <tr>
                <th>@card.Char_Name</th>
                <th>@card.Num_Age</th>
                <th>@card.Char_Comment</th>
            </tr>
        }
    </tbody>
</table>
<a class="btn btn-primary" role="button" asp-controller="Home" asp-action="CreateNewData">
    新增一筆資料
</a>

<script>
    function myFunction() {
        document.getElementById("demo").innerHTML = "Hello World";
    }
</script>

@{
    ViewData["Title"] = "Home Page";
}
